<div class="row-fluid">
	<div class="col-xs-12">
		<p></p>
	</div>
</div>

<div class="row-fluid">
	<div class="col-xs-12">
		<p></p>
	</div>
</div>

<div class="row-fluid">
	<div class="col-xs-12">
		<p></p>
	</div>
</div>

<div class="row-fluid">
	<div class="col-xs-12">
		<div class="alert alert-success"><strong>Thank you for logging in.  This is your public profile.</strong></div>
	</div>
</div>
